<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            background-color: black;
            color: white;
        }

        #container {
            margin-top: 100px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            gap: 20px;

        }

        h1 {
            border: 1px solid blueviolet;
            display: inline;
            padding: 10px;
            border-radius: 10px;
        }

        h2 {
            font-size: 50px;
        }

        @media screen and (max-width:768px) {
            h2 {
                font-size: 30px;
            }
        }
    </style>
</head>

<body>
    <div id="container">
        <h1>Home Page</h1>
        <h2>Logged-In: <%=username%>👋
        </h2>
    </div>
</body>

</html>