<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp</title>
    <link rel="stylesheet" href="/signupLogin.css">
</head>

<body>
    <div id="container">
        <h1>signup</h1>
        <form action="/signup" method="post">
            <input type="text" name="username" id="" placeholder="Name" required>
            <input type="password" name="password" id="" placeholder="Password" autocomplete="off" required>
            <input type="submit" value="sing Up">
        </form>
        <div id="link-box">
            <h3>Already have an account</h3>
            <a href="/">Go to login page</a>
        </div>
    </div>
</body>

</html>